@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #FDFDFD;
    --defaultFontColor: #164346;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
}

body {
    color: var(--defaultFontColor);
    background: var(--background);
    max-width: 1300px;
    font-family: sans-serif;
    font-style: normal;
    padding: 16px 32px 48px 16px;
    margin: 0 auto;
    display: grid;
    gap: 48px;
}

main {
    display: grid;
    gap: 48px;
    position: relative;
}

h1,
h2 {
    font-size: clamp(1rem, 4vw, 3rem);
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.96px;
}

h3 {
    font-size: clamp(0.7rem, 3vw, 2rem);
    letter-spacing: -0.32px;
}

h4 {
    font-size: 24px;
    letter-spacing: 0.24px;
}

p {
    line-height: 1.6;
}

.unorderedList li {
    position: relative;
    padding-left: 14px;
}

.unorderedList li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: currentColor;
    border-radius: 50%;
    top: 10px;
}

a {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.fade-enter {
    transform: translateX(100%);
    opacity: 0;
}

.fade-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 300ms, opacity 300ms;
}

.fade-exit {
    transform: translateX(0);
    opacity: 1;
}

.fade-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 300ms, opacity 300ms;
}

.menu-slide-enter {
    opacity: 0;
    transform: translateY(-20px);
}

.menu-slide-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.menu-slide-exit {
    opacity: 1;
    transform: translateY(0);
}

.menu-slide-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}