@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #FDFDFD;
    --defaultFontColor: #164346;
    --h1-font-size: clamp(1.5rem, 4.5vw, 3rem);
    --h3-font-size: clamp(1.2rem, 4.5vw, 2rem);
    --h4-font-size: clamp(1rem, 4.5vw, 1.5rem);
    --p-font-size: clamp(0.8rem, 3.5vw, 16px);
    --default-font-size: clamp(0.8rem, 3.5vw, 16px);
    --outline-color: #164346;
    --default-link-color: #237F85;
    --filter-white: none;
    --filter-black: none;
    --filter-yellow: none;
    font-size: var(--default-font-size);
    font-weight: 500;
    letter-spacing: 0.16px;
}

body {
    color: var(--defaultFontColor);
    background: var(--background);
    font-family: sans-serif;
    font-style: normal;
    padding-top: 16px;
    display: grid;
}

.dark {
    --defaultFontColor: #E1FF00;
    --background: #000000;
    --filter-white: brightness(0) invert(1);
    --outline-color: #E1FF00;
    --default-link-color: #E1FF00;
    --filter-black: brightness(0);
    --filter-yellow: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(7deg);
}

main {
    display: grid;
    margin: 0 auto;
    gap: 48px;
    position: relative;
    max-width: 1368px;
    padding-left: 32px;
    padding-right: 32px;
}


h1,
h2 {
    font-size: var(--h1-font-size);
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.96px;
}

h3 {
    font-size: var(--h3-font-size);
    letter-spacing: -0.32px;
}

h4 {
    font-size: var(--h4-font-size);
    letter-spacing: 0.24px;
}

p {
    line-height: 1.6;
    font-size: var(--p-font-size);
}

.unorderedList li {
    position: relative;
    padding-left: 14px;
}

.unorderedList li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: currentColor;
    border-radius: 50%;
    top: 10px;
}

a {
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: color 300ms ease-in-out;
}

a:focus-visible {
    outline: 2px dashed var(--defaultFontColor);
    outline-offset: 2px;
    color: var(--default-link-color)
}

a:hover {
    color: var(--default-link-color)
}

.button {
    color: var(--defaultFontColor)
}

.fade-enter {
    transform: translateX(100%);
    opacity: 0;
}

.fade-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 300ms, opacity 300ms;
}

.fade-exit {
    transform: translateX(0);
    opacity: 1;
}

.fade-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 300ms, opacity 300ms;
}

.menu-slide-enter {
    opacity: 0;
    transform: translateY(-20px);
}

.menu-slide-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.menu-slide-exit {
    opacity: 1;
    transform: translateY(0);
}

.menu-slide-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.footerLink {
    font-size: clamp(0.9rem, 3.5vw, 20px);
}

:focus-visible {
    outline: 2px dashed var(--outline-color);
    outline-offset: 2px;
}

.button:focus-visible {
    outline-offset: -2px;
    outline: 2px dashed var(--outline-color);
}

.filter-white {
    filter: var(--filter-white)
}

.filter-black {
    filter: var(--filter-black)
}

.filter-yellow {
    filter: var(--filter-yellow)
}

input[type="checkbox"] {
    accent-color: var(--defaultFontColor);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--background) inset !important;
    -webkit-text-fill-color: var(--defaultFontColor)
}